.main {
  background-color: rgba(83, 132, 132, 0.83);

  .navigate {
    display: flex;
    justify-content: center;

    .link {
      margin: 20px;
      color: rgba(0, 0, 195, 0.82);
      font-size: 26px;
      text-decoration: none;
    }
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: space-around;

    .box-one {
      background: #81d781;
      width: 250px;
      height: 300px;
      box-shadow: 5px 5px 55px -14px black;
      border-radius: 4px;
      padding: 15px;
      margin: 15px;

      .cardss {
        height: 100%;
        border: 1px solid;
        border-radius: 5px;

        &-img {
          width: 100%;
          height: 180px;
        }

        p, h4, a {
          width: 100%;
          display: flex;
          justify-content: center;
          margin: 5px;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }
}


